/* stylesheet*/

.title {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: double goldenrod;
    padding: 15px 25px;
}

.egg {
    height: auto;
    width: 650px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.taco {
    height: auto;
    width: 573px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.trans {
    color: blue;
    background-color: rgb(133, 128, 128);
    display: block;
    margin: 0 auto;
    border: solid blue 4px;
    width: fit-content;
    font-size: larger;
    padding: 2px;
}

.acid {
    display: inline;
    background-color: aquamarine;
    color: rgb(183, 202, 72);
    font-style: italic;
}

#dorito {
    display: inline;
    color: white;
    background-color: orange;
    padding: 2px;
}

button {
    display: block;
    margin: 100px auto;
    padding: 8px 24px;
    background-color: honeydew;
}

.noun {
    display: inline-block;
    color: red;
    background-color: honeydew;
    font-weight: bold;
    font-size: 20px;
}

.fire {
    display: inline-block;
    color: red;
    background-color: rgb(255, 166, 0);
    padding: 15px;
    border: solid 4px red;
    margin-left: 2px;

}

.video {
    margin-left: auto;
    margin-right: auto;
}
